@import "tailwindcss";

@theme {
  --font-orbitron: var(--font-orbitron), "Orbitron", sans-serif;
  --color-brand-cream: #f0f2d7;
  --color-brand-green: #2b6c5c;
  --color-brand-sage: #82a79c;
  --color-brand-lavender: #b2b4ed;
}

/* Hide scrollbar for Chrome, Safari, Opera and iOS browsers */
::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
}
